body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todolist-container {
  max-width: 350px;
}

.todolist__addRow {
  display: flex;
  width: 100%;
}

.todolist__addRow input {
  height: 25px;
  flex: 1;
  margin-right: 10px;
}

.items-container {
  margin-top: 20px;
}

.todo-item {
  margin-bottom: 10px;
}

.todo-item label {
  width: 100%;
  display: flex;
}

.todo-item span {
  flex: 1;
}

.showall-container {
  margin-bottom: 20px;
  display: block;
}